<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Tweets</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
</head>

<style>
 .bg-twitter {
    background-color: #1DA1F2 !important;
    }
h1, span {
  font-weight: bold; /* kalın font ağırlığı */
  color: #1DA1F2; /* koyu gri renk */
}
</style>
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-twitter text-uppercase" id="mainNav">
        <div class="container"><a class="navbar-brand" href="/">SMRL</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right text-uppercase rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#page-top">Last Tweets</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="search">Search Tweets</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="dataset">About dataset</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary " style="padding-top: 32px;">Tweet analytics for <span><%= monthName %> <%= start_date.getFullYear() %></span></h2>
            <h1 class="text-uppercase text-center text-secondary " style="padding-top: 32px;"> ◉ TOTAL <span><%= tweet_number %></span> TWEETS FROM  <span><%= tweet_list.length %></span> DIFFERENT ACCOUNTS</h2>
              
              
              
              
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-md-9 col-lg-4">
                    <div style="position: relative; padding-top: 40px; padding-bottom: 50px ">
                      <canvas id="myChart1" style="height: 300px;"></canvas>
                      <div style="position: absolute; top: -40px; left: 50%; transform: translateX(-50%);">
                        <h4 style="text-align: center;">Daily Tweets</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9 col-lg-4">
                    <div style="position: relative; padding-top: 40px; padding-bottom: 50px ">
                      <canvas id="myChart2" style="height: 300px;"></canvas>
                      <div style="position: absolute; top: -40px; left: 50%; transform: translateX(-50%);">
                        <h4 style="text-align: center;">Most Tweeted Accounts</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9 col-lg-4">
                    <div style="position: relative; padding-top: 40px; padding-bottom: 50px ">
                      <canvas id="myChart3" style="height: 300px;"></canvas>
                      <div style="position: absolute; top: -40px; left: 50%; transform: translateX(-50%);">
                        <h4 style="text-align: center;">Top 10 Hashtags</h4>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-md-9 col-lg-4">
                    <div style="position: relative; padding-top: 40px; padding-bottom: 50px ">
                      <canvas id="myChart4" style="height: 300px;"></canvas>
                      <div style="position: absolute; top: -40px; left: 50%; transform: translateX(-50%);">
                        <h4 style="text-align: center;">Top 10 Mentions</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9 col-lg-4">
                    <div style="position: relative; padding-top: 40px; padding-bottom: 50px ">
                      <canvas id="myChart5" style="height: 300px;"></canvas>
                      <div style="position: absolute; top: -40px; left: 50%; transform: translateX(-50%);">
                        <h4 style="text-align: center;">Tweet Types</h4>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9 col-lg-4">
                    <div style="position: relative; padding-top: 40px; padding-bottom: 50px ">
                      <canvas id="myChart6" style="height: 300px;"></canvas>
                      <div style="position: absolute; top: -40px; left: 50%; transform: translateX(-50%);">
                        <h4 style="text-align: center;">Combined Daily Tweets</h4>
                      </div>
                    </div>
                  </div>
                   <hr class="star-dark mb-5">
                   <h1 class="text-uppercase text-center text-secondary " style="padding-top: 32px; ">Tweets that have received the highest number of hits.</h1>
                </div>
            </div>
        </div>
    </section>
    
    <div style="text-align:center;">
      <div style="display:inline-block ; margin-left: 30px; max-width: 500px; text-align:center; vertical-align: top;">
        <h3 class="text-uppercase text-center text-secondary " style="padding-top: 32px; font-weight: bold; "> highest likes.</h3>
        <%-tweet_html_l %>
      </div>
      <div style="display:inline-block; margin-left: 30px; max-width: 500px; text-align:center; vertical-align: top;">
        <h3 class="text-uppercase text-center text-secondary " style="padding-top: 32px; font-weight: bold; position: relative;">highest retweets.</h3>
        <%-tweet_html_rt %>
      </div>
      <div style="display:inline-block ; margin-left: 30px; max-width: 500px; text-align:center; vertical-align: top;">
        <h3 class="text-uppercase text-center text-secondary " style="padding-top: 32px; font-weight: bold; position: relative;">highest reply.</h3>
        <%-tweet_html_rp %>
      </div>
    </div>
    
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="text-center text-white copyright py-4">
        <div class="container"><small>Copyright ©&nbsp;SMRL 2023</small></div>
    </div>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script>
var ctx1 = document.getElementById('myChart1').getContext('2d');

// Create the chart data
var chartData = {
  labels: [<% seven_list.forEach(function(tweet) { %>'<%= tweet._id %>', <% }); %>],
  datasets: [{
    label: "Number of Tweets",
    backgroundColor: "#1DA1F2",
    borderColor: "#1DA1F2",
    borderWidth: 1,
    hoverBackgroundColor: "#000000",
    hoverBorderColor: "#FFFFFF",
    data: [<% seven_list.forEach(function(tweet) { %>'<%= tweet.count %>', <% }); %>],
  }]
};

// Create the chart options
var chartOptions = {
  responsive: true,
  
  maintainAspectRatio: false,
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  }
};

// Create the chart
var myChart = new Chart(ctx1, {
  type: 'line',
  data: chartData,
  options: chartOptions
});



var ctx2 = document.getElementById('myChart2').getContext('2d');



// Create the chart data
var chartData = {
  labels:[<% for (var i = 0; i < 10; i++) { %>'<%= tweet_list[i].author %>', <% } %>],
  datasets: [{
    label: "Number of Tweets",
    backgroundColor: "#1DA1F2",
    borderColor: "#1DA1F2",
    borderWidth: 1,
    hoverBackgroundColor: "#000000",
    hoverBorderColor: "#FFFFFF",
    data:[<% for (var i = 0; i < 10; i++) { %>'<%= tweet_list[i].count %>', <% } %>],
  }]
};

// Create the chart options
var chartOptions = {
  responsive: true,
  maintainAspectRatio: false,
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  }
};

// Create the chart
var myChart = new Chart(ctx2, {
  type: 'bar',
  data: chartData,
  options: chartOptions
});

var ctx3 = document.getElementById('myChart3').getContext('2d');

// Create the chart data
var chartData = {
  labels: [<% h_list.forEach(function(tweet) { %>'<%= tweet._id %>', <% }); %>],
  datasets: [{
    label: "Number Of Hashtag",
    backgroundColor: "#1DA1F2",
    borderColor: "#1DA1F2",
    borderWidth: 1,
    hoverBackgroundColor: "#1DA1F2",
    hoverBorderColor: "#1DA1F2",
    data: [<% h_list.forEach(function(tweet) { %><%= tweet.count %>, <% }); %>],
  }]
};

// Create the chart options
var chartOptions = {
  responsive: true,
  indexAxis: 'y',
  maintainAspectRatio: false,
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  }
};

// Create the chart
var myChart = new Chart(ctx3, {
  type: 'bar',
  data: chartData,
  options: chartOptions
});

var ctx4 = document.getElementById('myChart4').getContext('2d');

// Create the chart data
var chartData = {
  labels: [<% m_list.forEach(function(tweet) { %>'<%= tweet._id %>', <% }); %>],
  datasets: [{
    label: "Number Of Mentions",
    backgroundColor: "#1DA1F2",
    borderColor: "#1DA1F2",
    borderWidth: 1,
    hoverBackgroundColor: "#1DA1F2",
    hoverBorderColor: "#1DA1F2",
    data: [<% m_list.forEach(function(tweet) { %><%= tweet.count %>, <% }); %>],
  }]
};

// Create the chart options
var chartOptions = {
  responsive: true,
  indexAxis: 'y',
  maintainAspectRatio: false,
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  }
};

// Create the chart
var myChart = new Chart(ctx4, {
  type: 'bar',
  data: chartData,
  options: chartOptions
});

var ctx5 = document.getElementById('myChart5').getContext('2d');

// Create the chart data
var chartData = {
  labels: ['Tweet', 'Retweet', 'Quoted', 'Reply',],
  datasets: [{
    label: 'Tweet Type',
    backgroundColor: [
       "#1DA1F2",
      '#9de1f6',
      '#69f0f1',
      '#5f6af0'
    ],
    borderColor: "#1DA1F2",
    borderWidth: 1,
    data: [<%=t_number%>,<%=rt_number%>,<%=q_number%>,<%=re_number%>]
  }]
};

// Create the chart options
var chartOptions = {
  responsive: true,
  maintainAspectRatio: false,
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  }
};

// Create the chart
var myChart = new Chart(ctx5, {
  type: 'doughnut',
  data: chartData,
  options: chartOptions
});

var ctx6 = document.getElementById('myChart6').getContext('2d');

// Create the chart data
var chartData = {
  labels: [<% seven_list.forEach(function(tweet) { %>'<%= tweet._id %>', <% }); %>],
  datasets: [{
    label: ['<%= monthName %>'],
    backgroundColor: "#1DA1F2",
    borderColor: "#1DA1F2",
    borderWidth: 1,
    hoverBackgroundColor: "#000000",
    hoverBorderColor: "#FFFFFF",
    data: [<% seven_list.forEach(function(tweet) { %>'<%= tweet.count %>', <% }); %>],
  },
  {
    label: ['<%= b_monthName %>'],
    backgroundColor: "#69f0f1",
    borderColor: "#1DA1F2",
    borderWidth: 1,
    hoverBackgroundColor: "#000000",
    hoverBorderColor: "#FFFFFF",
    data: [<% b_seven_list.forEach(function(tweet) { %>'<%= tweet.count %>', <% }); %>],
  }]
};

// Create the chart options
var chartOptions = {
  responsive: true,
  
  maintainAspectRatio: false,
  scales: {
    yAxes: [{
      ticks: {
        beginAtZero: true
      }
    }]
  }
};

// Create the chart
var myChart = new Chart(ctx6, {
  type: 'line',
  data: chartData,
  options: chartOptions
});
 
</script> 